@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);

section.text {
  position: absolute;
  z-index: -10;
  width: 100%;
  text-align: center;
  top: 30%;
  margin-top: -55px;
}

section.text h1 {
  transform: matrix(1, -0.15, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.15, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.15, 0, 1, 0, 0);
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-family: 'Oswald', Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 4px 5px #000000, 6px 7px #c6a39a;
}

@keyframes blink {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
